<div class="page-header">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class ="<%= active_page('/') %>"><a href="/">Home</a></li>
    <li role="presentation" class ="<%= active_page('/events/new') %>"><a href="/events/new">Make Event</a></li>
    <li role="presentation" class ="<%= active_page('/events/details') %>"><a href="/events/details">Event Status</a></li>
    <li role="presentation" class ="<%= active_page('/logout') %>"><a href="/logout">Log Out</a></li>
  </ul>
</div>


-----

<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container"> <!--pushes it so it's not on side-->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Pinteresting", root_path, class: "navbar-brand" %>
  </div>
  

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path, class: "active" %></li>
      <li><%= link_to "Work", work_path %></li> 
      <li><%= link_to "About", about_path %></li> 
    <% if user_signed_in? %>
      <li><%= link_to "Account Settings", edit_user_registration_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Log in", new_user_session_path %></li>
    <% end %>
  </div><!-- /.navbar-collapse -->
</nav>


---------

<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container"> <!--pushes it so it's not on side-->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/"><img src="images/txtmelater_tilt.png" width="10%" height="10%"></a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li role="presentation" class ="<%= active_page('/') %>"><a href="/">Home</a></li>
      <li role="presentation" class ="<%= active_page('/events/new') %>"><a href="/events/new">Make Event</a></li>
      <li role="presentation" class ="<%= active_page('/events/details') %>"><a href="/events/details">Event Status</a></li> 
      <li role="presentation" class ="<%= active_page('/logout') %>"><a href="/logout">Log Out</a></li>
    </ul>
  </div>
</nav>

