  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
    <li role="presentation" class ="<%= active_page('/') %>"><a href="/">Home</a></li>
    <li role="presentation" class ="active_page('/events/new') %>"><a href="/events/new">Make Event</a></li>
    <li role="presentation" class ="active"><a href="/events/details">Event Status</a></li>
      </ul>
    </nav>
    <a href="/"><img src="/images/rallytally.png" width="20%" height="20%"></a>
    <br>
  </div>

<!-- Hardcoded Nav-Bar above -->




<h2><em>Event name:</em> <%= @event.title %></h2>

<h2>Venues:</h2>

<% @event.venues.reverse.each do |venue| %>
  <div><%= venue.name %></div>
<% end %>

<h2>Invited guests:</h2>

<% @event.guests.reverse.each do |guest| %>
  <div><%= guest.name %></div>
<% end %>

<h2>Current vote totals:</h2>

<% if @venue_counts.count > 0 %>
  <% @venue_counts.each do |venue_count| %>
    <div>
    <%= venue_count[0] %> - <%= venue_count[1] %> votes
    </div>
  <% end %>
  <div>Declined invitations: <%= @decline_count %></div>
<% end %>