  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
    <li role="presentation" class ="<%= active_page('/') %>"><a href="/">Home</a></li>
    <li role="presentation" class ="active"><a href="/events/new">Make Event</a></li>
    <li role="presentation" class ="<%= active_page('/events/details') %>"><a href="/events/details">Event Status</a></li>
      </ul>
    </nav>
    <a href="/"><img src="/images/rallytally.png" width="20%" height="20%"></a>
    <br>
  </div>

<!-- Hardcoded Nav-Bar above --> 





 <div class='transparento boxboxbox'>
    <div id='move_h1'><br><h1>STEP 3:</h1><br><hr></div>
    <h2 align="center">Invite guests to <%= @event.title %></h2>

    <% if @guests != nil %>
      <% @guests.each do |guest| %>
        <div class="venuebox">
        <em><%= guest.name %>:</em> <%= guest.phone %>
        </div>
      <% end %>
    <% end %>


<form method="post" class="form-signin" action="/events/guests">  
    <input type="text" name="name" value="" class="form-control" placeholder="Name" required autofocus>
  
    <br>
    <input type="text" name="area_code" value="" size="3" placeholder="604" maxlength="3" class = "size-up">&nbsp;<input type="text" name="phone_first" value="" size="3" placeholder="555" maxlength="3" class ="size-up">&nbsp;-&nbsp;<input type="text" name="phone_last" value="" size="4" placeholder="5555" maxlength="4" class="size-up">&nbsp;<input type="hidden" name="event_id" value= "<%=@event.id%>">
    <input class="btn btn-warning stay-right" type="submit" value="Add Guest">
</form>
    <br>
    <br>
    <br>
    <% if @guests.count > 0 %> 
    <form method="post" action="/events/confirmation">
        <input type="hidden" name="event_id" value=<%= @event.id %>>
        <input class="btn btn-lg btn-success btn-block" type="submit" value="Finalize!">
    </form>
<% end %>

<br><br>