
<!--will use a diff class for form later -->

<p>The Event title is: <%= @event.title %></p>
<p>The Event ID is: <%= @event.id %></p>


<% if @venues != nil %>
  <% @venues.each do |venue| %>
    <div>
    <%= venue.name %>
    </div>
  <% end %>
<% end %>

<form method="post" action="/events/venues">
  <input type="text" name="name" value="" class="form-control" placeholder="Venue..." required autofocus>
    <br>

  <input type="hidden" name="event_id" value=<%= @event.id %>>
  <input class="btn btn-default" type="submit" value="Add Venue">
</form>


<a class="btn btn-lg btn-primary btn-block" href="/events/<%= @event.id %>/guests"> Continue</a>

