<div class="page-header">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="#">Make Event</a></li>
    <li role="presentation"><a href="/events/details">Event Status</a></li>
    <li role="presentation"><a href="/logout">Log Out</a></li>
  </ul>
</div>

<div class="container">
<!--will use a diff class for form later -->

<p>The Event title is: <%= @event.title %></p>
<p>The Event ID is: <%= @event.id %></p>


<% if @venues != nil %>
  <% @venues.reverse.each do |venue| %>
    <div>
    <%= venue.name %>
    </div>
  <% end %>
<% end %>

<form method="post" action="/events/venues">
  <input type="text" name="name" value="" class="form-control" placeholder="Venue..." required autofocus>
    <br>

  <input type="hidden" name="event_id" value=<%= @event.id %>>
  <input class="btn btn-default" type="submit" value="Add Venue">
</form>

<% if @venues.count > 0 %> 
  <a class="btn btn-lg btn-primary btn-block" href="/events/<%= @event.id %>/guests"> Continue</a>
<% end %>  

</div>