  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
    <li role="presentation" class ="<%= active_page('/') %>"><a href="/">Home</a></li>
    <li role="presentation" class ="active"><a href="/events/new">Make Event</a></li>
    <li role="presentation" class ="<%= active_page('/events/details') %>"><a href="/events/<%= session[:event_id] %>">Event Status</a></li>
      </ul>
    </nav>
    <a href="/"><img src="/images/rallytally.png" width="20%" height="20%"></a>
    <br>
  </div>

<!-- Hardcoded Nav-Bar above -->

 <div class='jumbotron transparento boxboxbox'>
    <div id='move_h1'><br><h1>STEP 2:<br><h2 class="subtitle">Venue Choices</h2></h1><br></div><br>

    <% if @venues != nil %>
    <% @venues.each do |venue| %>
      <div class="venuebox">
      <ul class="indent_if_newline"><li><%= venue.name %></li></ul>
      </div>
    <% end %>
  <% end %>

    <form class="form-signin" method="post" action="/events/venues">
      <input type="text" name="name" value="" class="form-control" autocomplete="off" placeholder="Venue..." required autofocus>
      <br>

      <input type="hidden" name="event_id" value=<%= @event.id %>>
      <input class="btn btn-lg btn-warning stay-bot" type="submit" value="Add Venue">
      <% if @venues.count > 0 %> 
        <a class="btn btn-lg btn-success stay-right stay-bot" href="/events/<%= @event.id %>/guests"> Continue</a>
      <% end %>

    </form>
  </div>




