
<!--will use a diff class for form later -->

<p>The Event title is: <%= @event.title %></p>
<p>The Event ID is: <%= @event.id %></p>

<div class="container-fluid">

  <div class="col-md-4">
    <form class="form-signin" method="post" action="/events/venues">
      <input type="text" name="name" value="" class="form-control" placeholder="Venue..." required autofocus>
        <br>

      <input type="hidden" name="event_id" value=<%= @event.id %>>
      <input class="btn btn-success" type="submit" value="Add Venue">
    </form>

  </div>


  <div class="col-md-4 transparento">
  <% if @venues != nil %>
    <% @venues.each do |venue| %>
      <div class="venuebox">
      <%= venue.name %>
      </div>
    <% end %>
  <% end %>
  </div>

  <div class="col-md-4">
    <% if @venues.count > 0 %> 
    <a class="btn btn-lg btn-success" href="/events/<%= @event.id %>/guests"> Continue</a>
  <% end %>
  </div> 

</div>